{#
/**
* @file
* Theme override to display a single page.
*
* Available variables:
* - node: The node entity with limited access to object properties and methods.
* - logged_in: A flag indicating if user is logged in.
* - is_admin: A flag indicating if user is an admin.
* - page: Full page object with regions.
*/
#}
<div class="">

	{% include '@sacda_test/includes/header.html.twig' %}

	<main role="main" class="main-content">
		<a id="main-content" tabindex="-1"></a>
		{# link is in html.html.twig #}

		<div class="layout-content">
			{{ include('sacda_test:test_component') }}
			{{ page.content }}
		</div>

		{% if page.sidebar_first %}
			<aside class="layout-sidebar-first" role="complementary">
				{{ page.sidebar_first }}
			</aside>
		{% endif %}

		{% if page.sidebar_second %}
			<aside class="layout-sidebar-second" role="complementary">
				{{ page.sidebar_second }}
			</aside>
		{% endif %}

	</main>

	{% include '@sacda_test/includes/footer.html.twig' %}

</div>
