{#
/**
 * @file
 * Template for Drupal Svelte Component
 */
#}

<script type="module" crossorigin src="dist/assets/index.js"></script>
<link rel="stylesheet" crossorigin href="dist/assets/index.css">

<div {{ attributes.addClass('svelte-component-root') }} data-component="test_component"></div>
